StarEnergi/Service References/WWService/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StarEnergyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StarEnergyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12943/UserService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="alpha_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="approval_level" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="delagate" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dept_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employee_boss" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="employee_delegate" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="employee_dept" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="employee_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="is_contractor_ptc" type="xs:boolean" />
      <xs:element minOccurs="0" name="position" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="role" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
  <xs:complexType name="ArrayOfUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserModel" nillable="true" type="tns:UserModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserModel" nillable="true" type="tns:ArrayOfUserModel" />
</xs:schema>