StarEnergi/Service References/WWService/UserService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StarEnergyService.Helper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StarEnergyService.Helper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12943/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StarEnergyService" />
  <xs:complexType name="ResponseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StarEnergyService" minOccurs="0" name="result" nillable="true" type="q1:UserModel" />
      <xs:element minOccurs="0" name="results" nillable="true" type="tns:ListUserModel" />
      <xs:element minOccurs="0" name="status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseModel" nillable="true" type="tns:ResponseModel" />
  <xs:complexType name="ListUserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="count" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StarEnergyService" minOccurs="0" name="listUserModel" nillable="true" type="q2:ArrayOfUserModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListUserModel" nillable="true" type="tns:ListUserModel" />
</xs:schema>